extends layout

block content
  h1= "Search Results - Instruments"
    - let results = [{ instrument_name: 'Guitar', manufacturer: 'Fender', price: 500 },{ instrument_name: 'Piano', manufacturer: 'Yamaha', price: 1500 },{ instrument_name: 'Drums', manufacturer: 'Pearl', price: 800 },{ instrument_name: 'Keyboard', manufacturer: 'Casio', price: 300 },{ instrument_name: 'Violin', manufacturer: 'Stradivarius', price: 2000 }]

  .container-fluid
    .row
       each instrument,index in results
        .col-sm-4(onclick=`buy(${index})`)
          h3 #{instrument.instrument_name}
          p Manufacturer: #{instrument.manufacturer}
          p Price: $#{instrument.price}
    script.
        function buy(index) {
        alert('You purchased item ' + index);
        }
